.contact-container {
  padding: 20px;
  text-align: center;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #282c34;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #3f51b5;
}
